* {
    font-family: 'Epilogue', sans-serif;
}

body {
   
    background-image:url("https://media.discordapp.net/attachments/1095598613960335370/1167661267578793984/Frame_3.png?ex=654ef04c&is=653c7b4c&hm=701390797406e678ab4d3d15c1e9014012dda8d048a8c854e770fd6d8a8212d1&=&width=160&height=676") ;
    background-size:100%;
    background-repeat: no-repeat;
    
}

h1 {
    font-size: 60px;
    background:#34B38A;
    margin:30px;
    bottom: 350px;
    left: 840px;
    color: white;
    border-radius: 5px;
}

li {
    font-size: 30px;
    top :0;
    position: relative;
    display: inline-block;
    padding: 30px;
    padding-top: 30px;
    margin:auto;
    color: whitesmoke;

}
p{
    font-size: 20;
    line-height: normal;
    display: inline-block;
    line-height: 20px;

   
}
a{
    color: white;
}


/*
.chats {
    color: white;
    background: black;
}

.mi_cuenta {
    color: white;
    background: black;
}

.pagina_principal {
    color: white;
    background: black;
}

.input {
    color: white;
  
    padding: 29px;
    padding-bottom: 28px;
}
/


.abajo {
    position: absolute;
    margin:auto;
    bottom: 0px;
    right: 0;
    left: 60px;
    top: 50;
}


.abajo2 {
    position: absolute;
    margin:auto;
    bottom: 0px;
    right: 0;
    left: 925px;
    top: 90;
}
*/

.header{
    position:relative;

}
.header a{
    text-decoration: none;
}

.imghd{
    display: grid;
    place-items: center;
    margin-left: 5%;
}
.img{

  width: 93px;
  height: 93.25px;


}
.navigation {
    height:fit-content;
    background-color: #34B38A;
    border-radius: 10px;
    display:flex;
    align-items:top; 
    flex-direction:row;   
    margin-left: 30px;
    margin-right: 30px;
}


.navigation ul{
    margin-left: 30px;
    margin-right: 30px;
    margin: 10;
    padding: 10px;
    list-style: none;

} 
/*Esta linea de abajo está algo obsoleta en el codigo*/ 

.navigation ul li{
    display: inline-block;
}
.navigation ul li a{
    padding: 2rem  2rem;
    transition: all 0.4s linear;
    border-radius: 20px;

}

.navigation ul li a:hover {
    background:#505762 ;
}


.startupname{
    text-align: center;
    padding: 10px 10%;
    position: relative;
    display: flex;
    align-items:center;
    flex-direction: column;
    margin-bottom: 5%;
}
.abajo{
    text-size-adjust: 20px;
    margin-top: 80px;
}

.rowft{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hfts{
 text-align: center;
 border-radius: 10px;
}
.minidivft{
    margin-right: 40px;
    margin-left: 40px;
    
}
.features{
    text-align: center;
    padding: 10px 10%;
    position: relative;
    display: flex;
    align-items:center;
    flex-direction: column;
    margin: 80px;
}
.abtus{
    
    display: grid;
    margin-right: 10%;
    align-items: center;
    margin: 10px;
    padding: 10px 30%;


}
.carta{
    margin: right 100px;
}
.app{
    display: grid; 
    place-items:  center; 
    display: flex;
    padding: 10px 20%;
    margin-bottom: 5%;
}
.tiendas {
    width: 80%;
    display:flex;
    margin: 0 auto;
    margin-bottom: 40px;
    justify-content: center;
    align-content: center;
}
.tienda {
    width: auto;
    height: 100px;
    margin: 0 10px;
}

.tiendaapp {
    width: auto;
    height: 100px;
    margin: 0 10px;
}
.appstores{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}
.subs{
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 3%;
    background-color: #34B38A;
    border-radius: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    place-content: center;
    align-items: center;
    width: 80%;
    gap: 10px;
    text-align: center;
    
}
.subs p {
    margin: 5px;
}
.Premiun{
    margin-top: 30px !important;
    font-size: 50px;
    color: white;
    border-radius: 20px;
    

}
.subt{
    font-size: 40px;
    height: 100px;
    width: 600px;
    border-radius: 20px;
    margin-bottom: 30px !important;
}
.ft{
    display:flex;
    align-items: center;
    background-color: #34B38A;
    height:80px;
    text-align: center;
}

.aft{
    font-size: 30px;
    margin-right: 5%;
    margin-left: 10%;
}

